Django==5.2.8
django-cors-headers==4.2.0
djangorestframework==3.16.1
django-filter==23.2
gunicorn==21.2.0
Markdown==3.4.4
Pillow==12.0.0
psycopg2-binary==2.9.11
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
sentry-sdk==1.30.0
PyJWT==2.8.0
inflection==0.5.1
django-extensions==4.1
mutagen==1.47.0
openai-whisper==20250625
pydantic==2.12.4
